@import "../vars";

#sidebar-menu {
  .navLink {
    text-decoration: none !important;
    display: block;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s background;
    border-left: 4px solid transparent;
  }
  .navLink:hover {
    background: lighten($sidebar_bg, 2%);
    transition: 0.5s background;
  }
  .navItem .navLink.active {
    color: #fff !important;
    background: lighten($sidebar_bg, 5%);
    border-left: 4px solid $accent;
  }
  .navLink * {
    vertical-align: middle;
  }
  .navLink i {
    width: 30px;
    display: inline-block;
    font-size: 18px;
  }

  .nav {
    list-style-type: none;
    padding-left: 0;
  }
  h2 {
    font-size: .9rem;
    text-transform: uppercase;
    padding: 10px 15px 10px;
    color: #858585;
    font-family: 'Roboto', sans-serif;
  }
  .nav {
    margin-bottom: 20px;
  }
}


#sidebar {
  width: 230px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: $sidebar_bg;
}

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {
  .sidebar-offcanvas:not(:hover) .nav .navLink i + span {
    opacity: 0;
  }

  .sidebar-offcanvas:not(:hover) .dropdown, .sidebar-offcanvas:not(:hover) .userName {
    display: none;
  }

  .sidebar-offcanvas:not(:hover) .user {
    padding: 0;
  }
  .sidebar-offcanvas:not(:hover) .userImage {
    padding: 8px;
  }
  .sidebar-offcanvas:not(:hover) .userImage img {
    width: 32px;
  }
  .sidebar-offcanvas:not(:hover) .nav {
    margin-bottom: 0 !important;
  }

  .sidebar-offcanvas:not(:hover) #sidebar-menu h2 {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: 0.5s all;
  }

  .sidebar-offcanvas:hover #sidebar-menu h2 {
    transition: 0.5s all;

  }

  .sidebar-offcanvas {
    max-width: 50px;
    overflow: hidden;
    transition: 0.5s all;
  }

  .sidebar-offcanvas > * {
    width: 230px;
  }

  .sidebar-offcanvas:hover {
    max-width: 230px;
    transition: 0.5s all;
  }

  .content {
    margin-left: 50px !important;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
  }

  .sidebar-offcanvas {
    width: 45%;
  }
}

/* responsive nav stacked liked 3.x */
@media (max-width: 34em) {
  .navbar .navbar-brand {
    float: none;
  }

  .navbar .navbar-nav > .nav-item {
    float: none;
    margin-left: .1rem;
  }

  .navbar .navbar-nav {
    float: none !important;
  }
}
