
#player {
  background: #272829;
  padding: 8px 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.playerInner {
  position: relative;
  z-index: 5;
  align-items: center;
}

#playerControls {
  padding: 0 30px;
}

#playerControls i {
  font-size: 35px;
}

#playerControls a {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.playerAlbum img {
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.03), 0 6px 50px rgba(0, 0, 0, 0.13);
}

.imgOverlay img {
  width: 100%;
  position: absolute;
  top: -200px;
  left: 0;

  filter: blur(10px);
  -webkit-filter: blur(10px); /* support appears limited http://caniuse.com/#search=css%20filter%20effects */
  margin-left: -10px; /* move the image negative x-blur distance */
  margin-top: -10px; /* move the image negative y-blur distance */

}

.imgOverlay:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#playerTimeLine {

}

#playerTimeLine .time {
  font-size: 12px;
  float: left;
  display: block;
}
#playerTimeLine .time:nth-child(2) {
  float: right;
}

#playerTimeLine .wrapper{

  padding: 0 50px;
}

#playerTimeLine .inner{
  width: 100%;
  cursor: pointer;
  padding: 8px 0;
}

#playerTimeLine .player-progress {
  position: relative;
  height: 3px;
  background: #fff;
}

#playerTimeLine .currentTime {
  height: 3px;
  background: #ff3a00;
  position: relative;
}

#playerTimeLine .currentTime .handle {
  position: absolute;
  right: 0;
  width: 9px;
  height: 9px;
  background: white;
  bottom: 0;
  margin-bottom: -3px;
  border-radius: 100%;
  margin-right: -4px;
  cursor: pointer;
  opacity: .5;
  -webkit-transform: scale(0);
  transition: 0.3s transform,opacity;
}
#playerTimeLine .wrapper:hover .handle{
  opacity: 1;
  -webkit-transform: scale(1);
  transition: 0.3s transform,opacity;

}

#playerVolume{
  align-items: center;
}

#playerVolume i{
  margin-right: 10px;
  cursor: pointer;
}

#playerVolume .wrapper{
  flex-grow: 1;
}
#playerVolume .inner{
  width: 100%;
  cursor: pointer;
  padding: 8px 0;
}

#playerVolume .player-progress {
  position: relative;
  height: 3px;
  background: #fff;
}

#playerVolume .currentTime {
  height: 3px;
  background: #ff3a00;
  position: relative;
}

#playerVolume .currentTime .handle {
  position: absolute;
  right: 0;
  width: 9px;
  height: 9px;
  background: white;
  bottom: 0;
  margin-bottom: -3px;
  border-radius: 100%;
  margin-right: -4px;
  cursor: pointer;
  opacity: .5;
  -webkit-transform: scale(0);
  transition: 0.3s transform,opacity;
}
#playerVolume .wrapper:hover .handle{
  opacity: 1;
  -webkit-transform: scale(1);
  transition: 0.3s transform,opacity;

}
