@import "../vars";

.trackList {
  padding: 15px 0;

  .trackItem {
	padding: 15px 0;
	align-items: center;

	a {

	  color: #3b3e42;
	}
	&.isPlaying .trackTitle a, &.isPlaying .trackArtist a {
	  color: $accent;
	}
	.liked i {
	  color: $accent;
	}

	i {
	  padding-right: 10px;
	  display: inline-block;
	}

	&:not(:last-child) {
	  border-bottom: 1px solid #d7d7d7;
	}

	.trackitemActions {
	  text-align: center;
	}
  }
}
