@import "../vars";

.trackList {

  .trackListHeader {
	color: #bbbbbb;
	padding: 0 10px 10px;
	*{
	  font-weight: 300;}
  }

  .trackItem {
	padding: 15px 0;
	font-size: .9rem;
	align-items: center;

	a {

	  color: #3b3e42;
	}
	&.isPlaying .trackTitle a, &.isPlaying .trackArtist a {
	  color: $accent;
	}
	.liked i {
	  color: $accent;
	}

	i {
	  padding-right: 10px;
	  display: inline-block;
	}
  }
}
