@import "node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "node_modules/bootstrap/dist/css/bootstrap-flex.min.css";
@import "assets/css/sidebar.css";

.main{
    margin-left: 200px;
    padding: 0 10px;
}

.navbar-dark {
    background: #2f343f;
}

#sidebar {
    background: #353945;
}

#sidebar a {
    color: #BAC3CF;
}
