.navLink {
    text-decoration: none !important;
    display: block;
    padding:10px 12px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s background;
    border-left:4px solid transparent;
}
.navLink:hover {
    background: #28292b;
    transition: 0.5s background;
}
.navItem .navLink.active{
    color:#fff !important;
    background: #2c2d2f;
    border-left:4px solid #2980b9;
}
.navLink *{
    vertical-align: middle;
}
.navLink i{
    width: 40px;
}

.nav{
    list-style-type: none;
    padding-left: 0;
}

#sidebar-menu h2{
    font-size: .9rem;
    text-transform: uppercase;
    padding: 10px 15px 10px;
    color: #858585;
    font-family: 'Roboto', sans-serif;
}

#sidebar-menu .nav{
    margin-bottom: 20px;
}
