@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "responsive.css";
@import "sidebar.css";
@import "../../components/SongCard/style.css";

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
}

.main {
    margin-left: 220px;
    margin-top: 54px;
    padding: 15px 30px;
}

.navbar-dark {
    background: #2f343f;
}

#sidebar {
    background: #222326;
}

#sidebar a {
    color: #BAC3CF;
}