@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";

$enable-flex: true;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../fonts/iconmoon/style.css";
@import "vars";
@import "responsive";
@import "./common/navigation";
@import "./common/offline";
@import "./common/sidebar";
@import "./common/spinner";
@import "./common/user";
@import "./Feed/trackgriditem";
@import "./Player/player";
@import "./songDetails/songDetails";
@import "./songDetails/trackListItem";
@import "./common/header";

body {
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  overflow: hidden;

  min-width: 500px;
}

body:before {
  @include media-breakpoint-only(xs) {
	content: "xs";
  }
  @include media-breakpoint-only(sm) {
	content: "sm";
  }
  @include media-breakpoint-only(md) {
	content: "md";
  }
  @include media-breakpoint-only(lg) {
	content: "lg";
  }
  @include media-breakpoint-only(xl) {
	content: "xl";
  }

  position: absolute;
  bottom: 0;
  left: 0;
  color: red;
  display: block;
  z-index: 9999;
  padding: 10px;
  font-size: 20px;
  background: black;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

main {
  margin-top: 54px;
  position: relative;
  margin-left: 230px;
}

.main {
  position: relative;
  padding: 30px 30px 0 30px;
}

.scroll {
  position: relative;
  overflow-y: overlay;
  height: calc(100vh - 54px);

  &.playing {
	height: calc(100vh - 120px);
  }
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

#sidebar a {
  color: #BAC3CF;
}

/** -------- */

.flex {
  display: flex;
}

i {
  font-size: 1.4rem;
  vertical-align: sub;
}

.header {
  overflow: hidden;
  position: relative;
}

.header h2 {
  padding: 60px 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 2.5rem;
}

.header .overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.header .overlay:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 52, 63, 0.5)
}

.flex-wrap {
  flex-wrap: wrap;
}

.p-a-0 {
  padding: 0;
}


