@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-flex.min.css";
@import "responsive.css";
@import "sidebar.css";
@import "../fonts/iconmoon/style.css";


body {
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

main {
  margin-top: 54px;
  position: relative;
  margin-left: 230px;
}

main .offline {
  height: 100vh;
  color:#fff;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center center;
}
main .offline>div {
  position: relative;
  z-index: 2;
  width: 500px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
}
main .offline:before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(47, 52, 63,.4);
  z-index: 1;
}

main .offline i{
  font-size: 5rem;
  display: block;
  padding: 2rem;
}
main .offline:after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
}

.blobs {
  -webkit-filter: url(#goo);
  filter: url(#goo);
  position: relative;
  margin-top: 50px;
}
.blob {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #16a085;
}
.blob:nth-child(1) {
  animation: blob-left-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s infinite;
}
.blob:nth-child(2) {
  animation: blob-right-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s infinite;
}

@keyframes blob-left-anim {
  0% {transform:scale(1.0) translate(0, 0);}
  33% {transform:scale(0.5) translate(80px, 0);}
  66% {transform:scale(0.8) translate(0, 0);}
  100% {transform:scale(1.0) translate(0, 0);}
}

@keyframes blob-right-anim {
  0% {transform:scale(1.0) translate(0, 0);}
  33% {transform:scale(0.5) translate(-80px, 0);}
  66% {transform:scale(0.8) translate(0, 0);}
  100% {transform:scale(1.0) translate(0, 0);}
}



.main {
  position: relative;
  padding: 15px 30px 0 30px;
}

.scroll{
  position: relative;
  overflow-y: overlay;
  height: calc(100vh - 54px);
}

.main::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

.main::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.main.playing {
  height: calc(100vh - 120px);
}

.navbar-dark {
  background: #2f343f;
}

#sidebar {
  background: #222326;
}

#sidebar a {
  color: #BAC3CF;
}

.navbar {
  -webkit-app-region: drag
}

.navbar .window-controls {
  -webkit-app-region: no-drag;
  align-items: center;
}

.navbar .window-controls .control {
  display: inline-block;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  position: relative;
}

.navbar .window-controls .control i {
  font-size: 13px;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 1px;
  color: #2f343f;
  opacity: 0;
  transition: .5s opacity;
}

.navbar .window-controls .control:hover i {
  opacity: 1;
  transition: .5s opacity;

}

.control.control-close {
  background: #EE5C55;
}

.control.control-minimize {
  background: #62CB43;
}

.control.control-maximize {
  background: #F8BC32;
}

/** -------- */

.flex {
  display: flex;
}

.material-icons {
  vertical-align: middle;
}
